/* @group Rewrites */
//imports
@import "rewrite/variables";
@import "rewrite/mixins";
@import "rewrite/scaffolding";


//global
html, body{
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 10px;
}
h4{
  color: #F60;
  margin: 20px 0px;
}

a:hover::before{
  color: black !important;
}

.container-fluid{
  min-height: 100%;
}

#page{
  overflow: auto;
  padding-bottom: 107px;
}

body.has_dock #dock{
  background-color: @gray;
  .dockedtitle{
    padding: 0;
    text-shadow: none;
    background-image: none;
    border: none;
    height: 100px;
    &:hover{
      background-color: @gray;
      h2{
        color: @white;
      }
    }
    h2{
      font-weight: bold;
    }
  }
}

//blocks, regions, boxes, pages
//------------------------------
//general styles
#page #page-content #region-main{
  border-radius: 0;
  padding: 0px 20px;
}
#page{
  form{
    #fitem_id_submitbutton,
    fieldset.hidden:last-of-type #fgroup_id_buttonar,
    .form-buttons{
      background-color: @gray_mid;
      border: none;
      .fgroup{
        padding: 0;
      }
      input{
        margin: 0;
        background-image: none;
        background-color: @gray_dark;
        &:hover{
          background-color: @orangeprimary;
        }
      }
    }
  }
}

//page site index
#page-site-index #page #page-content #region-main,
#page-enrol-index #page #page-content #region-main{
  background-color: transparent;
  border: none;
}
#page-enrol-index #page #page-content #region-main{
  .generalbox{
    .coursebox{
      background-color: @white;
      border-radius: 0;
      border: 1px solid @gray_light;
      padding: 20px;
    }
  }
  .bor{
    background: none;
    height: 0;
  }
}
#notice{
  margin-bottom: 5px;
}

//user preferences
#page-user-preferences #page #page-content #region-main{
  .preferences-groups{
    .preferences-group{
      a:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
}

//courses index page
#page-course-index #page #page-content #region-main{
  padding: 20px;
  div[role="main"]{
    margin: 0;
    #coursesearch{
      text-align: left;
      margin: 0 0 5px 0;
      padding: 10px;
      .invisiblefieldset{
        display: block;
        label{
          display: block;
        }
      }
    }
    .course_category_tree{
      .category[data-categoryid]{
        background-color: @gray_mid;
        padding: 10px;
        &:hover{
          background-color: @gray_dark;
        }
      }
      .categoryname a{
        i.fa{
          font-size: 80px;
        }
        span{
          color: @white;
        }
      }
    }
  }
}

//courses category page
#page-course-index-category #page #page-content #region-main{
  background-color: transparent;
  border: none;
  .categorypicker, #coursesearch{
    text-align: left;
    margin: 10px;
    .invisiblefieldset{
      display: block;
      label, #coursesearchbox{
        margin: 0;
        padding: 5px;
      }
      input[type="submit"]{
        margin: 0 5px;
      }
    }
  }
}
//course view
#page-course-view-topics #page #page-content #region-main{
  .bor{
    height: 0;
  }
  .right{
    padding: 0;
  }

  .actions{
    a > i.fa{
      color: @gray_dark;
    }
    .moodle-actionmenu.show[data-enhanced] .menu a{
      color: @gray_dark;
      &:hover{
        background-color: @gray_dark;
        color: white;
      }
    }
  }
  .toggle-display.textmenu{
    background-color: @gray_mid;
    padding: 3px 5px;
    border-radius: 3px;
    color: white;
    &:hover{
      color: white !important;
      background-color: @gray_dark;
      text-decoration: none !important;
    }
    .caret{
      border-top-color: white;
    }
  }
  .section li.activity{
    a:hover{
      text-decoration: underline;
      color: black;
    }
  }
}
//banco de preguntas
#page-question-edit #page #page-content #region-main{
  .categoryquestionscontainer{
    #categoryquestions .iconcol{
      a, i{
        color: gray !important;
      }
    }
  }
}

#page-tag-search #page #page-content #region-main{
  padding: 20px;
}

#page #page-content div[role="main"]{
  background-color: transparent;
}



#frontpage-course-list{
  background: none;
}

.block_course_overview{
  border: none;
  box-shadow: none;
}
.jsenabled{
  .block{
    padding: 10px;
    border-radius: 0px;
    a{
      color: black;
      font-weight: 400;
      &:hover{
        color: @orangeprimary;
      }
    }
    .header{
      .title{
        h2{
          color: @orangeprimary;
        }
        h2:before{
          font-size: 1.1em;
          color: @orangeprimary;
        }
      }
    }

    .block_tree{
      .tree_item.branch, .tree_item.branch a{
        color: @gray_dark;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
      .tree_item.branch::before{
        color: @gray_dark;
      }
    }
  }
}

p.tree_item.leaf a,p.tree_item.leaf a > i.fa{
  color: @gray_dark;
  margin-left: 1px;
  &:hover, &:focus{
    text-decoration: underline;
    color: @gray_dark;
  }
}

.bor{
  background: none;
}

body{
  .course-content{
    ul.topics{
      li.section{
        .content{
          margin: 10px;
        }
      }
    }
  }
}

.course-content{
  ul{
    li.section.main{
      background: none;
      border-bottom: 1px solid #ddd;
      .left{
        width: 0;
      }
    }
    li.section.main.current{
      box-shadow:  2px 2px 12px 0px #ddd;
      border-radius: 0;
      border: 1px solid #ddd;
    }
  }
  .section-summary{
    border: none;
  }
}

.courses{
  .coursebox{
    border-radius: 0;
    padding: 20px;
    .info{
      h3 a{
        &:hover{
          color: @black;
        }
      }
    }
  }
}
.course_list{
  .coursebox{
    border: none;
  }
}

//navs
.navbar{
  background-color: @gray;
  .navbar-inner{
    background-color: @gray !important;
    a{
      color: @white;
    }
    .messagemenu ul.nav ul.dropdown-menu li > a:hover .message{
      background-color: @gray_dark;
    }
    .usermenu{
      .dropdown{
        img.userpicture{
          border: none;
          border-radius: 0;
          margin-right: 10px;
        }
      }
    }

    .nav{
      a:hover, i:hover{
        color: @gray !important;
      }
      a:focus, a:active, i:focus, i:active{
        color: @gray !important;
      }
      li.dropdown.open > .dropdown-toggle{
        background-color: @gray_dark !important;
      }
      li.dropdown{
        ul.dropdown-menu{
          border-radius: 0;
          border: 1px solid @gray_dark;
          padding: 0;
          li{

            a, i{
              color: @gray_light !important;
              &:hover, &:focus, &:active{
                background-color: @gray_dark !important;
                color: @white !important;
              }
            }
          }
        }
      }
      .sep{
        border-bottom: 1px dotted @gray !important;
      }
      .userpicture{
        max-width: 22px !important;
        max-height: 22px !important;
        margin-right: 10px;
      }
    }
  }
}

//nav-tabs
.nav-tabs > li.active > a{
  color: @gray_dark;
  background-color: @white;
  border: 0;
  border-bottom: 3px solid @orangeprimary;
  cursor: default;
  &:hover{
    border: 0;
    border-bottom: 3px solid @orangeprimary;
  }
}
.nav-tabs > li > a{
  color: @gray_mid;
  background-color: @white;
  border: none;
  &:hover{
    color: black;
  }
}
//dropdowns
ul.dropdown-menu{
  background-color: #666 !important;
  border: none !important;
  .dropdown-submenu .dropdown-toggle::after{
    border-left-color: white !important;
  }
}

//buttons & inputs
.breadcrumb.style2{
  li a{
    color: gray !important;
    &:hover{
      text-decoration: underline;
      color: black !important;
    }
  }
}
.breadcrumb-button input[type="submit"]{
  .btn-one;
}
.breadcrumb-button{
  .btn-success{
    .btn-one;
  }
}
input[type="submit"]{
  .btn-one;
}
input[type="button"]{
  .btn-two;
}
button{
  .btn-one;
}
.ical-link{
  font-size: 1em;
  background-color: #f60;
  padding: 6px 20px 4px;
  color: #fff;
  border-radius: 3px;
  line-height: 0.8em;
  border: none;
}
.nav_guide{
  font-weight: bold;
  color: @orangeprimary;
}
.nav_icon{
  i.fa{
    color: @gray_light;
    &:hover{
      color: @gray_dark !important;
    }
  }
}

//social&others
body button {
  &.socialicon {
    border-radius: 0px;
    background-color: #ddd;
  }
  &.facebook:hover, &.facebook:focus {
    background-color: #4a6ea9;
  }
  &.twitter:hover, &.twitter:focus {
    background-color: #00aced;
  }
  &.website:hover, &.website:focus {
    background-color: #ff6600CA;
  }
}
#socialheading{
  color: white;
}
img.userpicture{
  box-shadow: none;
  border-radius: 0;
}

//calendar
.today{
  background-color: @gray_light;
  a{
    font-weight: bold;
  }
}

//footer
#page-footer{
  border: none;
  background-color: #333;
  position: relative;
  margin-top: -107px; /* negative value of footer height */
  height: 107px;
  clear: both;
  bottom: 0;
  display:block;
}


//responsive
@media (max-width: 979px) {
  .navbar{
    .btn-navbar{
      display: none !important;
    }
    .nav-collapse{
      clear: none !important;
      width: auto !important;
      border: none !important;
    }
  }
  .nav-collapse.collapse{
    overflow: visible !important;
  }
  .nav-collapse .nav{
    float: left;
  }
}

@media (max-width: 767px) {
  #page-header {
    .btn-icon {
        display: none !important;
    }
  }
  .container-fluid {
    padding: 0 20px !important;
  }
}

@media (max-width: 480px){
  .container-fluid {
    padding: 0 10px !important;
  }
}

/* @end */
