/* @group Rewrites */
body,
.block .header .title h2,
.block h3.main,
h1,
h2,
a {
  color: #666;
}
body i.fa {
  color: white;
}
a {
  outline: none;
}
a:visited,
p.tree_item.branch {
  color: gray;
}
body.has_dock #dock {
  background-color: #666 !important;
}
body.has_dock #dock .dockedtitle {
  padding: 0 !important;
  text-shadow: none !important;
  background-image: none !important;
  border: none !important;
  height: 100px !important;
}
body.has_dock #dock .dockedtitle:hover {
  background-color: gray !important;
}
body.has_dock #dock .dockedtitle:hover h2 {
  color: white !important;
}
body.has_dock #dock .dockedtitle h2 {
  font-weight: bold !important;
}
#region-main {
  border-radius: 0px;
  padding: 10px 20px;
}
.block {
  padding: 10px !important;
  border-radius: 0px !important;
}
.block .header .title h2:before {
  font-size: 1.1em;
  color: gray;
}
.block .moodle-core-dragdrop-draghandle::before,
.block .icon {
  color: #F60 !important;
}
.block p.tree_item.branch::before {
  color: #666 !important;
}
.course-content .section-summary {
  border: none !important;
}
.coursebox {
  border: none !important;
}
.navbar,
.navbar-inner {
  background-color: #666;
}
.navbar a,
.navbar-inner a {
  color: white !important;
}
.nav a:hover,
.nav a:focus,
.nav a:active {
  color: gray !important;
}
.nav a:hover i,
.nav a:focus i,
.nav a:active i {
  color: gray !important;
}
.nav li.dropdown.open > .dropdown-toggle {
  background-color: #333 !important;
}
.nav .sep {
  border-bottom: 1px dotted gray !important;
}
.nav .userpicture {
  padding: 3px !important;
  max-width: 14px !important;
  max-height: 14px !important;
}
ul.dropdown-menu {
  background-color: #666 !important;
  border: none !important;
}
ul.dropdown-menu .dropdown-submenu .dropdown-toggle::after {
  border-left-color: white !important;
}
.dropdown-menu > li > a {
  color: white !important;
}
.dropdown-menu > li > a i {
  color: white !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  background-color: #333 !important;
}
.breadcrumb.style2 li a {
  color: gray !important;
}
.breadcrumb.style2 li a:hover {
  text-decoration: underline;
  color: black !important;
}
.breadcrumb-button input[type="submit"] {
  background-color: #ccc;
}
.breadcrumb-button input[type="submit"]:hover {
  background-color: #666;
  color: white;
}
body button.socialicon {
  border-radius: 0px;
  background-color: #ddd;
}
body button.facebook:hover,
body button.facebook:focus {
  background-color: #4a6ea9;
}
body button.twitter:hover,
body button.twitter:focus {
  background-color: #00aced;
}
#socialheading {
  color: white;
}
img.userpicture {
  box-shadow: none;
}
.today {
  background-color: #E1E1E1;
}
.today a {
  font-weight: bold;
}
#page-footer {
  border: none;
  background-color: #333;
  position: static;
  bottom: 0;
}
@media (max-width: 979px) {
  .navbar .btn-navbar {
    display: none !important;
  }
  .navbar .nav-collapse {
    clear: none !important;
    width: auto !important;
    border: none !important;
  }
  .nav-collapse.collapse {
    overflow: visible !important;
  }
}
@media (max-width: 767px) {
  #page-header .btn-icon {
    display: none !important;
  }
  .container-fluid {
    padding: 0 20px !important;
  }
}
@media (max-width: 480px) {
  .container-fluid {
    padding: 0 10px !important;
  }
}
/* @end */
/*# sourceMappingURL=/theme/essential/style/essential-rewrite.treasure.map */