/* @group Rewrites */
/* @variables Rewrite */
/* @end */
/* @mixins Rewrite */
.btn-one {
  color: #ffffff;
  background-color: #bbbbbb;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
.btn-one:hover {
  background-color: #333333;
  color: #ffffff;
}
.btn-two {
  background-image: none;
  border-color: #333333;
  color: #333333;
}
.btn-two:hover {
  color: #333333;
}
/* @end */
* {
  outline: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.form-item .form-description,
.form-defaultinfo,
.form-label .form-shortname,
.mform legend a {
  color: #333333;
}
body,
.block .header .title h2,
.block h3.main,
h2,
a {
  color: #666666;
}
h1 {
  color: #333333;
}
h3 {
  color: black;
}
body i.fa {
  color: #ffffff;
}
a::before {
  color: #333333;
}
a:visited,
p.tree_item.branch {
  color: #666666;
}
iframe {
  border: none;
}
html,
body {
  height: 100%;
}
.container-fluid {
  min-height: 100%;
}
#page {
  overflow: auto;
  padding-bottom: 107px;
}
body.has_dock #dock {
  background-color: #666666;
}
body.has_dock #dock .dockedtitle {
  padding: 0;
  text-shadow: none;
  background-image: none;
  border: none;
  height: 100px;
}
body.has_dock #dock .dockedtitle:hover {
  background-color: #666666;
}
body.has_dock #dock .dockedtitle:hover h2 {
  color: #ffffff;
}
body.has_dock #dock .dockedtitle h2 {
  font-weight: bold;
}
#page #page-content #region-main {
  border-radius: 0;
  padding: 0px 20px;
}
#page form #fitem_id_submitbutton,
#page form fieldset.hidden:last-of-type #fgroup_id_buttonar,
#page form .form-buttons {
  background-color: #bbbbbb;
  border: none;
}
#page form #fitem_id_submitbutton .fgroup,
#page form fieldset.hidden:last-of-type #fgroup_id_buttonar .fgroup,
#page form .form-buttons .fgroup {
  padding: 0;
}
#page form #fitem_id_submitbutton input,
#page form fieldset.hidden:last-of-type #fgroup_id_buttonar input,
#page form .form-buttons input {
  margin: 0;
  background-image: none;
  background-color: #333333;
}
#page form #fitem_id_submitbutton input:hover,
#page form fieldset.hidden:last-of-type #fgroup_id_buttonar input:hover,
#page form .form-buttons input:hover {
  background-color: #ff6600;
}
#page-site-index #page #page-content #region-main,
#page-enrol-index #page #page-content #region-main {
  background-color: transparent;
  border: none;
}
#page-enrol-index #page #page-content #region-main .generalbox .coursebox {
  background-color: #ffffff;
  border-radius: 0;
  border: 1px solid #e1e1e1;
  padding: 20px;
}
#page-enrol-index #page #page-content #region-main .bor {
  background: none;
  height: 0;
}
#notice {
  margin-bottom: 5px;
}
#page-course-index #page #page-content #region-main {
  padding: 20px;
}
#page-course-index #page #page-content #region-main div[role="main"] {
  margin: 0;
}
#page-course-index #page #page-content #region-main div[role="main"] #coursesearch {
  text-align: left;
  margin: 0 0 5px 0;
  padding: 10px;
}
#page-course-index #page #page-content #region-main div[role="main"] #coursesearch .invisiblefieldset {
  display: block;
}
#page-course-index #page #page-content #region-main div[role="main"] #coursesearch .invisiblefieldset label {
  display: block;
}
#page-course-index #page #page-content #region-main div[role="main"] .course_category_tree .category[data-categoryid] {
  background-color: #bbbbbb;
  padding: 10px;
}
#page-course-index #page #page-content #region-main div[role="main"] .course_category_tree .category[data-categoryid]:hover {
  background-color: #333333;
}
#page-course-index #page #page-content #region-main div[role="main"] .course_category_tree .categoryname a i.fa {
  font-size: 80px;
}
#page-course-index #page #page-content #region-main div[role="main"] .course_category_tree .categoryname a span {
  color: #ffffff;
}
#page-course-index-category #page #page-content #region-main {
  background-color: transparent;
  border: none;
}
#page-course-index-category #page #page-content #region-main .categorypicker,
#page-course-index-category #page #page-content #region-main #coursesearch {
  text-align: left;
  margin: 10px;
}
#page-course-index-category #page #page-content #region-main .categorypicker .invisiblefieldset,
#page-course-index-category #page #page-content #region-main #coursesearch .invisiblefieldset {
  display: block;
}
#page-course-index-category #page #page-content #region-main .categorypicker .invisiblefieldset label,
#page-course-index-category #page #page-content #region-main #coursesearch .invisiblefieldset label,
#page-course-index-category #page #page-content #region-main .categorypicker .invisiblefieldset #coursesearchbox,
#page-course-index-category #page #page-content #region-main #coursesearch .invisiblefieldset #coursesearchbox {
  margin: 0;
  padding: 5px;
}
#page-course-index-category #page #page-content #region-main .categorypicker .invisiblefieldset input[type="submit"],
#page-course-index-category #page #page-content #region-main #coursesearch .invisiblefieldset input[type="submit"] {
  margin: 0 5px;
}
#page-tag-search #page #page-content #region-main {
  padding: 20px;
}
#page #page-content div[role="main"] {
  background-color: transparent;
}
#frontpage-course-list {
  background: none;
}
.block_course_overview {
  border: none;
  box-shadow: none;
}
.jsenabled .block {
  padding: 10px;
  border-radius: 0px;
}
.jsenabled .block a {
  color: black;
  font-weight: 400;
}
.jsenabled .block a:hover {
  color: #ff6600;
}
.jsenabled .block .header .title h2 {
  color: #ff6600;
}
.jsenabled .block .header .title h2:before {
  font-size: 1.1em;
  color: #ff6600;
}
.jsenabled .block .block_tree .tree_item.branch,
.jsenabled .block .block_tree .tree_item.branch a {
  color: #333333;
}
.jsenabled .block .block_tree .tree_item.branch::before {
  color: #333333;
}
p.tree_item.leaf a,
p.tree_item.leaf a > i.fa {
  color: #bbbbbb;
}
p.tree_item.leaf a:hover,
p.tree_item.leaf a > i.fa:hover,
p.tree_item.leaf a:focus,
p.tree_item.leaf a > i.fa:focus {
  color: #ff6600;
}
.bor {
  background: none;
}
body .course-content ul.topics li.section .content {
  margin: 10px;
}
.course-content ul li.section.main {
  background: none;
  border-bottom: 1px solid #ddd;
}
.course-content ul li.section.main.current {
  box-shadow: 2px 2px 12px 0px #ddd;
  border-radius: 0;
  border: 1px solid #ddd;
}
.course-content .section-summary {
  border: none;
}
.courses .coursebox {
  border-radius: 0;
  padding: 20px;
}
.courses .coursebox .info h3 a {
  color: #333333;
}
.courses .coursebox .info h3 a:hover {
  color: #000000;
}
.course_list .coursebox {
  border: none;
}
.navbar {
  background-color: #666666;
}
.navbar .navbar-inner {
  background-color: #666666 !important;
}
.navbar .navbar-inner a {
  color: #ffffff;
}
.navbar .navbar-inner .usermenu .dropdown img.userpicture {
  border: none;
  border-radius: 0;
  margin-right: 10px;
}
.navbar .navbar-inner .nav a:hover,
.navbar .navbar-inner .nav i:hover {
  color: #666666 !important;
}
.navbar .navbar-inner .nav a:focus,
.navbar .navbar-inner .nav a:active,
.navbar .navbar-inner .nav i:focus,
.navbar .navbar-inner .nav i:active {
  color: white !important;
}
.navbar .navbar-inner .nav li.dropdown.open > .dropdown-toggle {
  background-color: #333333 !important;
}
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu {
  border-radius: 0;
  border: 1px solid #333333;
  padding: 0;
}
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li a,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li i {
  color: #e1e1e1 !important;
}
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li a:hover,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li i:hover,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li a:focus,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li i:focus,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li a:active,
.navbar .navbar-inner .nav li.dropdown ul.dropdown-menu li i:active {
  background-color: #333333 !important;
  color: #ffffff !important;
}
.navbar .navbar-inner .nav .sep {
  border-bottom: 1px dotted #666666 !important;
}
.navbar .navbar-inner .nav .userpicture {
  max-width: 22px !important;
  max-height: 22px !important;
  margin-right: 10px;
}
.nav-tabs > li.active > a {
  color: #333333;
  background-color: #ffffff;
  border: 0;
  border-bottom: 3px solid #ff6600;
  cursor: default;
}
.nav-tabs > li.active > a:hover {
  border: 0;
  border-bottom: 3px solid #ff6600;
}
.nav-tabs > li > a {
  color: #bbbbbb;
  background-color: #ffffff;
  border: none;
}
.nav-tabs > li > a:hover {
  color: black;
}
ul.dropdown-menu {
  background-color: #666 !important;
  border: none !important;
}
ul.dropdown-menu .dropdown-submenu .dropdown-toggle::after {
  border-left-color: white !important;
}
.breadcrumb.style2 li a {
  color: gray !important;
}
.breadcrumb.style2 li a:hover {
  text-decoration: underline;
  color: black !important;
}
.breadcrumb-button input[type="submit"] {
  color: #ffffff;
  background-color: #bbbbbb;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
.breadcrumb-button input[type="submit"]:hover {
  background-color: #333333;
  color: #ffffff;
}
.breadcrumb-button .btn-success {
  color: #ffffff;
  background-color: #bbbbbb;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
.breadcrumb-button .btn-success:hover {
  background-color: #333333;
  color: #ffffff;
}
input[type="submit"] {
  color: #ffffff;
  background-color: #bbbbbb;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
input[type="submit"]:hover {
  background-color: #333333;
  color: #ffffff;
}
input[type="button"] {
  background-image: none;
  border-color: #333333;
  color: #333333;
}
input[type="button"]:hover {
  color: #333333;
}
button {
  color: #ffffff;
  background-color: #bbbbbb;
  background-image: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
}
button:hover {
  background-color: #333333;
  color: #ffffff;
}
.ical-link {
  font-size: 1em;
  background-color: #f60;
  padding: 6px 20px 4px;
  color: #fff;
  border-radius: 3px;
  line-height: 0.8em;
  border: none;
}
.nav_guide {
  font-weight: bold;
  color: #ff6600;
}
.nav_icon i.fa {
  color: #e1e1e1;
}
.nav_icon i.fa:hover {
  color: #333333 !important;
}
body button.socialicon {
  border-radius: 0px;
  background-color: #ddd;
}
body button.facebook:hover,
body button.facebook:focus {
  background-color: #4a6ea9;
}
body button.twitter:hover,
body button.twitter:focus {
  background-color: #00aced;
}
body button.website:hover,
body button.website:focus {
  background-color: #ff6600CA;
}
#socialheading {
  color: white;
}
img.userpicture {
  box-shadow: none;
  border-radius: 0;
}
.today {
  background-color: #e1e1e1;
}
.today a {
  font-weight: bold;
}
#page-footer {
  border: none;
  background-color: #333;
  position: relative;
  margin-top: -107px;
  /* negative value of footer height */
  height: 107px;
  clear: both;
  bottom: 0;
  display: block;
}
@media (max-width: 979px) {
  .navbar .btn-navbar {
    display: none !important;
  }
  .navbar .nav-collapse {
    clear: none !important;
    width: auto !important;
    border: none !important;
  }
  .nav-collapse.collapse {
    overflow: visible !important;
  }
  .nav-collapse .nav {
    float: left;
  }
}
@media (max-width: 767px) {
  #page-header .btn-icon {
    display: none !important;
  }
  .container-fluid {
    padding: 0 20px !important;
  }
}
@media (max-width: 480px) {
  .container-fluid {
    padding: 0 10px !important;
  }
}
/* @end */
